.git
.github
.gitignore
node_modules
npm-debug.log
.env
.env.*
!.env.example
tests
*.md
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
public/storage
.phpunit.result.cache
.idea
.vscode
